.playlist-header,
.playlist ul li {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
}

.playlist-header span:last-child,
.playlist ul li span:last-child {
  text-align: right;
}

.song_title,
.song_artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song_title,
.song_artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  background-color: #1a1a1a;
  border-left: 3px solid orange;
}

.bars {
  display: inline-flex;
  align-items: flex-end;
  gap: 2px;
  height: 14px;
  margin-right: 8px;
}

.bars span {
  display: inline-block;
  width: 3px;
  background-color: orange;
  border-radius: 2px;
  animation: bounce 0.8s ease-in-out infinite;
}

.bars span:nth-child(1) {
  height: 8px;
  animation-delay: 0s;
}
.bars span:nth-child(2) {
  height: 14px;
  animation-delay: 0.2s;
}
.bars span:nth-child(3) {
  height: 6px;
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(1);
  }
}
