.playlist-header,
.playlist ul li {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
}

.playlist-header span:last-child,
.playlist ul li span:last-child {
  text-align: right;
}

.controls button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: 0.2s;
}

.controls button:hover {
  color: #1db954;
  transform: scale(1.1);
  cursor: pointer;
}

