@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: #1e1e1e;
    color: white;
    height: 100vh;
    font-family: sans-serif;
    padding: 20px;
    gap: 20px;
}

.player {
    width: 320px;
    padding: 20px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.player img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
}

.menu {
    flex: 0 0 150px;
    padding: 20px;
    background-color: #2a2a2a;
}

.menu li {
    margin-bottom: 15px;
    cursor: pointer;
}

.playlist {
    flex: 1;
}

.playlist li {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 8px;
    cursor: pointer;
}

.playlist-header {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
